<hr />
<div class="footer-container">
	<p>&copy; {% year %} Arif Ardiansyah</p>
	<div class="social_icons">
		<a
			href="https://github.com/arifardia"
			aria-label="GitHub"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-github"></i>
		</a>
		<a
			href="https://www.linkedin.com/in/arif-ardiansyah-130111240/"
			aria-label="LinkedIn"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-linkedin"></i>
		</a>
		<a
			href="https://instagram.com/arash__04"
			aria-label="Twitter"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-instagram"></i>
		</a>
	</div>
</div>