<div class="hero-container">
    {# <img src='assets/profile.jpeg' class="profile-img" alt="Joe's personal headshot" /> #}
    <div class="hero-text">
        <h1>Hello, I'm Arif 👋</h1>
        <p>
            I'm an Undergraduate student majoring in Library and Information Science. <br> I do some web development in my spare time. I have a website here, Oh, and, I write some notes about what I do. Feel free to read <a href="/notes">them!</a> 
        </p>
        <div class="social-icons">
            <a href="https://github.com/arifardia" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/arif-ardiansyah-130111240/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://instagram.com/arash__04" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
            {# <a href="https://discord.com/channels/@me/964193002056720464">
                <i class="fa-brands fa-discord"></i>
            </a> #}
        </div>
    </div>
</div>