<div class="nav-container">
    <div class="logo">
        <a href="/">
            A.
        </a>
    </div>
    <div class="nav">
        <a href="/notes" class="link">
            Notes
        </a>
        <a href="/projects" class="link">
            Projects
        </a>
    </div>
</div>